body {
    background-color: #74b9ff;
    position: relative;
}


.acaba-logo {
    text-align: center;
    top: 35%;
    left: 25%;
    display: inline-block;
    position: absolute;
    color: white;
    font-size: 1vw;
    font-family: verdana;
}
