body {
    background-color: #74b9ff;
    position: relative;
}


.impeachment {
    top: 50px;
    position: relative;
}


.acaba-logo {
    text-align: center;
    top: 35%;
    display: inline-block;
    position: absolute;
    color: white;
    font-family: verdana;
}


@media (max-width: 1400px) {
    .acaba-logo {
        font-size: 24px;
        left: 5%;
    }
}


@media (min-width: 1400px) {
    .acaba-logo {
        font-size: 16px;
        left: 25%;
    }
}
